.page2-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.page2-header {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.page2-header30 {
  gap: var(--dl-space-space-twounits);
}
 
.page2-image1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.page2-container2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
}
 
.page2-max-width1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
 
.page2-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.page2-image2 {
  width: 200px;
  object-fit: cover;
}
 
.page2-text10 {
  text-align: center;
  font-family: "Noto Sans";
}
 
.page2-text12 {
  font-family: "Noto Sans";
}
 
.page2-text13 {
  text-align: center;
  word-break: keep-all;
}
 
.page2-container3 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.page2-max-width2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.page2-content2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.page2-ul1 {
  align-items: flex-start;
}
 
.page2-li1 {
  align-items: flex-start;
}
 
.page2-heading7 {
  align-self: center;
  text-align: center;
}
 
.page2-content7 {
  text-align: left;
  word-break: keep-all;
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.page2-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
 
.page2-heading8 {
  margin-top: 20px;
  margin-bottom: 20px;
}
 
.page2-heading9 {
  margin-top: 20px;
  margin-bottom: 20px;
}
 
.page2-content3 {
  align-self: stretch;
  align-items: flex-start;
}
 
.page2-ul3 {
  align-items: flex-start;
}
 
.page2-content4 {
  align-self: stretch;
  align-items: flex-start;
}
 
.page2-ul4 {
  align-items: flex-start;
}
 
@media(max-width: 991px) {
  .page2-text10 {
    text-align: center;
  }
  .page2-text11 {
    text-align: center;
  }
  .page2-text13 {
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .page2-header {
    gap: var(--dl-space-space-unit);
  }
  .page2-ul2 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .page2-ul2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
