.button-wrapper {
  display: contents;
}
 
.button-container {
  display: flex;
  position: relative;
}
 
.button-button {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: auto;
  border-color: var(--dl-color-primary-100);
  background-color: var(--dl-color-primary-100);
}
 
.component-fragment1 {
  display: contents;
}
 
.component-text2 {
  display: inline-block;
}

.set1-wrapper {
  display: contents;
}
 
.set1-set1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.set1-title-bar {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-text1 {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
}
 
.set1-checkbox-row1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}

.set1-wrapper-wh8c {
  display: contents;
}
 
.set1-set11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.set1-title-bar1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-text6 {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
}
 
.set1-checkbox-row5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}

.set1-wrapper-958b {
  display: contents;
}
 
.set1-set12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.set1-title-bar2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-text11 {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
}
 
.set1-checkbox-row9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}

.set1-wrapper-6ssj {
  display: contents;
}
 
.set1-set13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.set1-title-bar3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-text16 {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
}
 
.set1-checkbox-row13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}

.set1-wrapper-1msv {
  display: contents;
}
 
.set1-set14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.set1-title-bar4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-text21 {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
}
 
.set1-checkbox-row17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.set1-checkbox-row20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}

.component-column {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: auto;
  align-self: stretch;
  box-shadow: 3px 3px 5px 0px #ededed;
  align-items: center;
  background-color: var(--dl-color-gray-white);
}
 
.component-price1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
 
.component-price2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.component-title-bar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.component-text1 {
  fill: var(--dl-color-primary-100);
  color: var(--dl-color-primary-100);
}
 
.component-fragment1 {
  display: contents;
}
 
.component-text2 {
  display: inline-block;
}
 
.component-list-box {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.component-fragment2 {
  display: contents;
}
 
.component-text3 {
  display: inline-block;
}
 

 

 

 

 
@media(max-width: 479px) {
  .component-title-bar {
    flex-wrap: wrap;
  }
}
