.contact-form41-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form41-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
 
.contact-form41-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form41-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form41-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form41-input2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form41-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-form41-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form41-text16 {
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.contact-form41-button {
  align-self: flex-start;
}
 
.contact-form41-fragment1 {
  display: contents;
}
 
.contact-form41-text17 {
  display: inline-block;
}
 
.contact-form41-fragment2 {
  display: contents;
}
 
.contact-form41-text18 {
  display: inline-block;
}
 
.contact-form41-fragment3 {
  display: contents;
}
 
.contact-form41-text19 {
  display: inline-block;
}
 
.contact-form41-fragment4 {
  display: contents;
}
 
.contact-form41-text20 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form41-max-width {
    flex-direction: column;
  }
  .contact-form41-content1 {
    width: 100%;
  }
}
