.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #000000;
}
 
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-pasted-image {
  width: 150px;
}
 
.footer-text10 {
  line-height: 21px;
}
 
.footer-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.footer-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-header1 {
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
 
.footer-link10 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link10:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link11 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link11:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link12 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link12:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link13 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link13:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link14 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link14:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-header2 {
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
 
.footer-link15 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link15:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link16 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link16:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link17 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link17:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-link18 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link18:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-text11 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}
 
.footer-fragment10 {
  display: contents;
}
 
.footer-text12 {
  display: inline-block;
}
 
.footer-fragment11 {
  display: contents;
}
 
.footer-text13 {
  display: inline-block;
}
 
.footer-fragment12 {
  display: contents;
}
 
.footer-text14 {
  display: inline-block;
}
 
.footer-fragment13 {
  display: contents;
}
 
.footer-text15 {
  display: inline-block;
}
 
.footer-fragment14 {
  display: contents;
}
 
.footer-text16 {
  display: inline-block;
}
 
.footer-fragment15 {
  display: contents;
}
 
.footer-text17 {
  display: inline-block;
}
 
.footer-fragment16 {
  display: contents;
}
 
.footer-text18 {
  display: inline-block;
}
 
.footer-fragment17 {
  display: contents;
}
 
.footer-text19 {
  display: inline-block;
}
 
.footer-fragment18 {
  display: contents;
}
 
.footer-text20 {
  display: inline-block;
}
 
.footer-fragment19 {
  display: contents;
}
 
.footer-link19 {
  color: rgb(196, 196, 196);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  transition: 0.3s;
  line-height: 21px;
}
 
.footer-link19:hover {
  color: rgba(196, 196, 196, 0.5);
}
 
.footer-fragment20 {
  display: contents;
}
 
.footer-text25 {
  display: inline-block;
}
 
.footer-fragment21 {
  display: contents;
}
 
.footer-text26 {
  display: inline-block;
}
 
.footer-fragment22 {
  display: contents;
}
 
.footer-text27 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text10 {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-direction: column;
  }
  .footer-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-header2 {
    font-size: 16px;
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .footer-links {
    width: 100%;
    flex-direction: column;
  }
}
